@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="ingredient" placeholder="Search Ingredient"/>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success" id="search">Search Food</button>
        </div>
        <div id="recipes-container">
        </div>
    </div>
</div>
